.container {
  background-image: url("../../../../assets/img/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-module-container__heading {
  padding-top: 1.5rem;
}
