.form {
  background-color: white;
  padding: 2rem;

  &__group {
    &--double {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .progress {
    background: white;
    color: grey;
    border: 2px solid grey;
    cursor: progress;
  }
}
