// .form__input {
//   font-size: 2rem !important;
// }

.form-container {
  background-color: white;
  width: 75%;
  max-width: 550px;
  margin: 0 auto;
  border: 1px solid rgba(black, 0.1);
  padding: 3rem;

  &__header {
    text-align: center;

    .header-text {
      color: tomato;
      font-size: 2.8rem;
      margin-bottom: 2rem;
      display: inline-block;
    }
  }

  &__body {
    .form {
      &__radio-group {
        display: flex;
        font-size: 1.5rem;
        padding: 2rem 1rem;
        justify-content: center;
        color: #555;
      }
      &__group {
        width: 85%;
        margin: 0 auto 1rem;

        &--double {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          & > shared-custom-select {
            margin-bottom: 2rem;
          }
        }

        .disabled {
          background: white;
          color: grey;
          border: 2px solid grey;
          cursor: progress;
          pointer-events: none;
        }

        .checkbox {
          &__input {
            display: none;
          }

          &__label {
            display: flex;
            justify-content: center;
            margin: 2rem 0;
            cursor: pointer;
          }

          &__button {
            position: relative;
            width: 2.3rem;
            height: 2.3rem;
            border: 2px solid tomato;
            border-radius: 3px;
            margin: 0 1rem;
            // transition: all .2s;
            &::before {
              content: '';
              font-family: 'Font Awesome 5 Free';
              font-size: 2.6rem;
              display: inline-block;
              color: tomato;
              position: absolute;
              top: -0.6rem;
              left: -0.1rem;
              transform: translateY(3px);
              transition: transform 0.2s;
            }
          }

          &__text {
            font-size: 1.8rem;
            color: #333;
            font-weight: 400;
          }
        }
      }

      &__submit {
        width: 100%;
        color: white;
        font-size: 2rem;
        font-weight: 400;
        border-radius: 5px;
        margin-top: 1rem;
        transition: all 0.2s;

        &:hover {
          transform: translateY(1px);
        }

        &:active {
          transform: translateY(0);
        }
      }

      &__error {
        padding: 0.5rem;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .checkbox__input:checked ~ .checkbox__label .checkbox__button {
    background: #eee;

    &::before {
      content: '\2714';
      transform: translateY(0);
    }
  }
}

$color1: #f4f4f4;
$color2: rgb(255, 71, 71);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.radio {
  margin: 0.5rem;
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.notification {
  position: fixed;
  font-size: 1.8rem;
  top: 8rem;
  right: 0;
  padding: 2.5rem 2rem;
  background-color: rgba(white, 0.9);
  border: 1px solid rgba(black, 0.2);
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  cursor: pointer;
  transform: translateX(105%);

  &--success {
    border-left: 3px solid #e1a223;
  }

  &--error {
    border-left: 3px solid red;
  }
}

.notification.active {
  animation-name: slideAndStay;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slideAndStay {
  0% {
    transform: translateX(105%);
  }
  20% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
