<div class="container">
  <div (click)="toggleFormModal()" class="fab">
    <button class="fab__button">
      <fa-icon class="fab__icon" [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div class="container__body">
    <div class="desktop-form">
        <h3 class="form__header">Add A New Staff</h3>
        <app-add-staffer-form (staffAdded)="addStaffToArray($event)"></app-add-staffer-form>
    </div>

    <h3 class="staffs noStaff" *ngIf="previousStaffs?.length == 0">No Staff Yet</h3>
    <div *ngIf="previousStaffs?.length !== 0" class="staffs">
      <div class="staffs__header">
        Your Current Staff
      </div>

      <div class="staffs__list">
        <div *ngFor="let staff of previousStaffs" class="staff">
          <p class="type">{{ staff.firstName +" "+ staff.lastName }}</p>

          <div class="staff__body">
            <div class="staff__left">
              <p class="detail">{{ staff.email }}</p>
              <p class="detail">{{ staff.phoneNumber }}</p>
            </div>

            <div class="staff__right">
              <p class="date">{{ staff.createdAt | date: "longDate" }}</p>
              <div *ngIf="staff.emailVerified" class="status-group">
                <fa-icon class="icon" style="color: #33c024" [icon]="faCheck"></fa-icon> <span class="text">Active</span>
              </div>
              <div *ngIf="!staff.emailVerified" class="status-group">
                <fa-icon class="icon" style="color: #e1a223" [icon]="faExclamation"></fa-icon> <span class="text">Not Yet Active</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay" [class.active]="isModalVisible">
    <div (click)="toggleFormModal()" class="overlay__close">
      <fa-icon class="overlay__close-icon" [icon]="faTimes"></fa-icon>
    </div>
  </div>

  <div class="modal" [class.active]="isModalVisible">
    <div class="modal__header">
      <h2 class="text">Add a new staff</h2>
    </div>
    <div class="modal__body">
      <app-add-staffer-form (staffAdded)="addStaffToArray($event)"></app-add-staffer-form>
    </div>
  </div>

  <app-custom-notification [show]="stafferAdded || stafferError" [type]="stafferAdded ? 'success' : 'error'"
    [text]="stafferAdded ? 'New Staff Added Successfully' : 'Adding Staff Failed'"></app-custom-notification>
</div>
