
.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}
.overlay.active {
  z-index: 5;
  background-color: rgba(black, 0.5);
}


.payment-form {
  position: fixed;
  top: 25%;
  width: 50%;
  height: 50%;
  z-index: -1;
  left:25%;

  display: none;

  .form-group{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // align-items: center;
    margin: 2rem 4rem;
    padding-top: 2rem;
   
   

    .header{
      font-size: 2.5rem;
      color: #444;
      font-weight: 700;
      display: flex;
      justify-content: flex-start;
      // align-items: center;
      flex-direction: column;
      z-index: -1;
      .sub_title{
        font-size: 1.5rem;
        color: #999;
      }

      .error{
        color: red;
        font-size: 1.3rem;
      }
    } 
  
    .body{
      padding-top: 1rem;
      width: 80%;
  
    }
  }

}
.payment-form.active{
  z-index: 10;
  background: white;
  display: block
}


.container {
    // padding: 2rem;
    // margin: 2rem;
    margin: 0 2rem;
  }
  
  .subscription {
    border: 1px solid rgba(black, 0.2);
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 2px #ddd;
    &__header-1 {
      display: flex;
      justify-content: center;
      padding: 2rem;
      .name-1 {
        color: #42597b;
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 2rem;
        text-transform: uppercase;
      }
    }
    &__header {
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
      padding-top: 1rem;
      .img {
        height: 8rem;
      }
     
      .name {
        color: #42597b;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 2rem;
        text-transform: uppercase;
      }
  
      .preview {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        transition: all 0.2s;
        a {
          text-decoration: none;
        }
        &__icon {
          font-size: 2rem;
          color: #333;
        }
  
        &__text {
          font-size: 1.5rem;
          margin-left: 1rem;
        }
  
        &:hover {
          cursor: pointer;
  
          .preview__icon,
          .preview__text {
            color: purple;
          }
        }
  
        &:active {
          transform: translateY(1px);
        }
      }
  
      .verify {
        position: absolute;
        top: 2.5rem;
        left: 5.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid rgba(black, 0.2);
        border-radius: 5px;
        transition: all 0.2s;
  
        &:hover {
          box-shadow: 0 0 1rem rgba(black, 0.2);
          cursor: pointer;
        }
        &:active {
          transform: translateY(1px);
        }
        &__icon {
          font-size: 2rem;
          color: green;
          margin-right: 1rem;
        }
  
        &__text {
          color: #333;
          font-size: 1.8rem;
          font-weight: 700;
          margin-right: 1rem;
        }
  
        &__loading {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid rgba(black, 0.5);
          border-radius: 50%;
          border-top-color: #fff;
          animation: spin 1s cubic-bezier(0.29, 0.65, 0.38, 0.72) infinite;
        }
      }
    }
  
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  
    &__body {
      .details-group {
        display: flex;
        width: 90%;
        margin: 3rem auto;
        justify-content: center;
  
        & > * {
          flex: 1;
        }
      }
  
      .detail {
        position: relative;
  
        &:not(:last-child) {
          margin-right: 2rem;
        }
  
        &__label {
          position: absolute;
          top: -1rem;
          left: 1rem;
          font-size: 1.5rem;
          font-weight: 600;
          color: #42597b;
          font-style: italic;
          background-color: white;
          padding: 0 0.2rem;
        }
  
        &__value {
          padding: 1rem;
          overflow-y: auto;
          max-height: 20rem;
          border: 1px solid rgba(black, 0.2);
          border-radius: 3px;

          &__button{
            margin: 0 15rem;
            width:50%;
            align-content: center;
          }
          &__header {
            font-size: 1.6rem;
            color: rgb(46, 68, 75);
            font-style: bold;
            padding: 0 1rem;
            display: block;
  
            .text {
              color: #888;
              display: inline;
              font-size: 1rem;
              font-style: italic;
            }
          }
  
          a {
            text-decoration: none;
            color: purple;
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          .text {
            font-size: 1.8rem;
  
            &--noLocation {
              color: #888;
              font-style: italic;
            }
          }
        }
      }
    }
  }
  