.form {
  
    &__submit-btn {
      width: 100%;
    }
  
    &__header {
      font-size: 1.8rem;
      color: #555;
      margin: 1rem 0rem;
      text-align: center;
      width: 100%;
    }
}

.sub-container {
    display: flex;
    flex-direction: column;

    & > * {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) {
    .sub-container {
        flex-direction: row;
    }
}