<form action="#" class="form" [formGroup]="addStaffer" (ngSubmit)="onSubmit()">
    <div class="sub-container">
        <shared-custom-input-field class="input-element-type-2" [formGroup]="addStaffer" name="email" defaultValue=""
            placeholder="Enter Email" label="Email" [input]="(addStaffer?.controls)['email']" type="text"
            [submitted]="submitted" [limit]="defaultLimit" [disabled]="false"></shared-custom-input-field>
    </div>
    <div class="sub-container">
        <shared-custom-input-field class="input-element-type-1" [formGroup]="addStaffer" name="firstName"
            defaultValue="" placeholder="First Name" label="First Name" [input]="(addStaffer?.controls)['firstName']"
            type="text" [limit]="defaultLimit" [submitted]="submitted" [disabled]="false"></shared-custom-input-field>
        <shared-custom-input-field class="input-element-type-1" [formGroup]="addStaffer" name="lastName" defaultValue=""
            placeholder="Last Name" label="Last Name" [input]="(addStaffer?.controls)['lastName']" type="text"
            [submitted]="submitted" [limit]="defaultLimit" [disabled]="false"></shared-custom-input-field>
    </div>
    <div class="sub-container">
        <shared-custom-input-field class="input-element-type-2" [formGroup]="addStaffer" name="phoneNumber"
            defaultValue="" [range]="numberRange" placeholder="Phone Number" label="Phone Number"
            [input]="(addStaffer?.controls)['phoneNumber']" type="tel" [submitted]="submitted" [disabled]="false">
        </shared-custom-input-field>
    </div>
    <div class="sub-container">
        <!-- <button type="submit" class="th-btn th-btn--primary form__submit-btn">
        Add Staff
        </button> -->
        <app-custom-submit-button class="form__submit-btn" [loading]="loading" text="Add Staff"
            [styleObject]="{btn: {width: '100%'}}"></app-custom-submit-button>
    </div>
</form>