html{
    font-size: 40%; //10px
    font-family: 'Nunito Sans', Arial;
}

.header-text--primary {
    color: $color-white;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.text-effect{
    transition: all .2s;
    cursor: pointer;

    // &:hover {
    //     text-shadow: 0 0 6px #ccc;
    // }
    // &:active {
    //     transform: translateY(1px);
    // }
}

@media only screen and (min-width:320px) {
    html{
        font-size: 45.5%;
    }
}
@media only screen and (min-width:480px) { 
    html{
        font-size: 48%;
    }
}
@media only screen and (min-width:600px) {
    html{
        font-size: 50%;
    }
}
@media only screen and (min-width:801px) {
    html{
        font-size: 58.5%;
    }
}
@media only screen and (min-width:950px) {
    html{
        font-size: 62.5%;
    }
}
// @media only screen and (min-width:1025px) { 
//     /* big landscape tablets, laptops, and desktops */ 
// }
// @media only screen and (min-width:1281px) { 
//     /* hi-res laptops and desktops */ 
// }