<div class="sub-module-container">
    <h3 class="sub-module-container__heading">Advertisement</h3>
    <div class="sub-module-container__container job">
      <div class="form-container" [class.horizontal]="ads.orientation === 'HORIZONTAL'">
        <h2 class="form__header">Add Advertisement</h2>
        <form action="#" class="form" [formGroup]="editAdsForm" enctype="multipart/form-data" (ngSubmit)="onEdit()">
          <div class="form__left">
            <div class="form__group form__radio-group">
            <div class="radio">
              <input (change)="radioChange('HORIZONTAL')" id="radio-1" name="radio" type="radio" [checked]="ads.orientation === 'HORIZONTAL'"/>
              <label for="radio-1" class="radio-label">HORIZONTAL</label>
            </div>
            <div class="radio">
              <input (change)="radioChange('VERTICAL')" id="radio-2" name="radio" type="radio" [checked]="ads.orientation === 'VERTICAL'"/>
              <label for="radio-2" class="radio-label">VERTICAL</label>
            </div>
            </div>
            <div class="form__group">
              <shared-custom-input-field
                [defaultValue]="ads.title"
                placeholder="Title"
                label="Title"
                [input]="editAdsForm.controls['title']"
                [submitted]="submitted"
                type="text"
                name="title"
                [formGroup]="editAdsForm"
                [limit]="defaultLimit"
              >
              </shared-custom-input-field>
            </div>
    
            <div class="form__group form__group--selects">
              <shared-custom-datepicker
                class="input-element-type-1"
                [formGroup]="editAdsForm"
                name="adsStart"
                placeholder="Ads Start Date"
                label="Ads Start Date"
                [defaultValue]="ads.adsStart"
                (onValueChange)="dateChanged($event, 'adsStart')"
                type="text"
                [submitted]="submitted"
              >
              </shared-custom-datepicker>
              <div class="form__group--selects__time">
                <input
                  matInput
                  type="time"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="times.adsStart"
                  placeholder="start date"
                />
              </div>
            </div>
    
            <div class="form__group form__group--selects">
              <shared-custom-datepicker
                class="input-element-type-1"
                [formGroup]="editAdsForm"
                name="adsEnd"
                [defaultValue]="ads.adsEnd"
                placeholder="Ads End Date"
                label="Ads End Date"
                (onValueChange)="dateChanged($event, 'adsEnd')"
                type="text"
                [submitted]="submitted"
              >
              </shared-custom-datepicker>
              <div class="form__group__time">
                <input
                  matInput
                  type="time"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="times.adsEnd"
                  placeholder="start date"
                />
              </div>
            </div>
    
            <div *ngIf="ads.orientation === 'HORIZONTAL'" class="form__group form__group--img">
              <div class="img-container img-container--horizontal">
                <img [src]="ads.image" alt="ad banner" class="image">
                <div class="img-container__edit" title="Edit Picture">
                  <input type="file" name="image" id="" class="picture-input" 
                    accept="image/x-png,image/jpeg,image/jpg" formControlName="image"
                    (change)="fileChanged($event, 'image')" [(ngModel)]="selectedImage"/>
                  <fa-icon class="picture-icon" [icon]="faCamera"></fa-icon>
                </div>
              </div>
            </div>
    
            <div class="form__group">
              <shared-custom-input-field
                [defaultValue]="ads.websiteURL"
                placeholder="Ads URL" label="ads URL"
                [input]="editAdsForm.controls['websiteURL']"
                [submitted]="submitted" type="url"
                name="websiteURL" [formGroup]="editAdsForm" [limit]="defaultLimit">
              </shared-custom-input-field>
            </div>
    
            <div class="form__group">
              <!-- <input
                [class.disabled]="editAdsForm.invalid || loading"
                type="submit"
                value="Submit"
                class="form__submit th-btn th-btn--primary"
              /> -->
              <app-custom-submit-button
                class="form__submit"
                [styleObject]="submitStyle"
                [disabled]="editAdsForm.invalid"
                [loading]="loading"
                text="Submit"
              >
              </app-custom-submit-button>
            </div>
          </div>
          <div class="form__right">
            <div *ngIf="ads.orientation === 'VERTICAL'" class="form__group form__group--img">
              <div class="img-container img-container--vertical">
                <img [src]="ads.image" alt="ad banner" class="image">
                <div class="img-container__edit" title="Edit Picture">
                  <input type="file" name="image" id="" class="picture-input" 
                    accept="image/x-png,image/jpeg,image/jpg" formControlName="image"
                    (change)="fileChanged($event, 'image')" [(ngModel)]="selectedImage"/>
                  <fa-icon class="picture-icon" [icon]="faCamera"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </form>
        
      </div>
      <app-custom-notification [show]="AdsAdded"
        type="success" callback="goBack" text="Advertisement Added Successfully">
    </app-custom-notification>
    </div>
  </div>
  