<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Subscriptions</h3>
  <div class="sub-module-container__container">
    <div *ngIf="!upgradeActive" class="current_subscription__container">
      <div class="current_subscription__header">Your Subscriptions</div>
      <div class="current_subscription__type">{{ subscription?.type }}</div>
      <div class="current_subscription__name">
        {{ subscription?.type == 'EXPRESS' ? subscription?.expressType : subscription?.premiumType }}
      </div>
      <div *ngIf="subscription?.type == 'EXPRESS' && !this.subscription?.expired" class="current_subscription__value">
        Remaining Points: {{ subscription?.points }}
      </div>
      <div *ngIf="subscription?.type == 'PREMIUM' && !this.subscription?.expired" class="current_subscription__value">
        Expires: {{ subscription?.expirationDate | date }}
      </div>
      <div *ngIf="this.subscription?.expired" class="current_subscription__value">
        Subscription Expired
      </div>
      <div (click)="onUpgradeClick($event)" class="th-btn th-btn--primary current_subscription__upgrade">Upgrade</div>
    </div>
    <h4 class="subscription__msg" *ngIf="msg && upgradeActive" > {{ msg }}</h4>
      
    <div *ngIf="upgradeActive" class="subscription__type_options">

      
      <div
        (click)="premiumClicked($event)"
        class="subscription__type"
        [class.subscription__type--active]="premiumActive"
      >
        Premium
      </div>
      <div
        (click)="expressClicked($event)"
        class="subscription__type"
        [class.subscription__type--active]="expressActive"
      >
        Express
      </div>
    </div>
    <div style="width: 100%" *ngIf="upgradeActive">
      <div *ngIf="expressActive" class="subscription__container">
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type">Express</div>
          <div class="current_subscription__name">BRONZE</div>
          <div class="current_subscription__price">
            50 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">300 points</div>
          <div (click)="purchasePlan('EXPRESS', 'BRONZE')" class="th-btn th-btn--primary current_subscription__upgrade">
            Purchase
          </div>
        </div>
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type">Express</div>
          <div class="current_subscription__name">SILVER</div>
          <div class="current_subscription__price">
            100 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">500 points</div>
          <div (click)="purchasePlan('EXPRESS', 'SILVER')" class="th-btn th-btn--primary current_subscription__upgrade">
            Purchase
          </div>
        </div>
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type">Express</div>
          <div class="current_subscription__name">GOLD</div>
          <div class="current_subscription__price">
            150 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">1000 points</div>
          <div (click)="purchasePlan('EXPRESS', 'GOLD')" class="th-btn th-btn--primary current_subscription__upgrade">
            Purchase
          </div>
        </div>
      </div>
      <div *ngIf="premiumActive" class="subscription__container">
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type current_subscription__type--premium">Premium</div>
          <div class="current_subscription__name">Monthly</div>
          <div class="current_subscription__price">
            200 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">Unlimited CV Download for 1 Month</div>
          <div
            (click)="purchasePlan('PREMIUM', 'MONTHLY')"
            class="th-btn th-btn--primary current_subscription__upgrade"
          >
            Purchase
          </div>
        </div>
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type current_subscription__type--premium">Premium</div>
          <div class="current_subscription__name">Quarterly</div>
          <div class="current_subscription__price">
            500 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">Unlimited CV Download for 3 Months</div>
          <div
            (click)="purchasePlan('PREMIUM', 'QUARTERLY')"
            class="th-btn th-btn--primary current_subscription__upgrade"
          >
            Purchase
          </div>
        </div>
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type current_subscription__type--premium">Premium</div>
          <div class="current_subscription__name">Bi-Annual</div>
          <div class="current_subscription__price">
            800 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">Unlimited CV Download for 6 Months</div>
          <div
            (click)="purchasePlan('PREMIUM', 'BI-ANNUAL')"
            class="th-btn th-btn--primary current_subscription__upgrade"
          >
            Purchase
          </div>
        </div>
        <div class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type current_subscription__type--premium">Premium</div>
          <div class="current_subscription__name">Annual</div>
          <div class="current_subscription__price">
            1400 <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">Unlimited CV Download for 1 Year</div>
          <div (click)="purchasePlan('PREMIUM', 'ANNUAL')" class="th-btn th-btn--primary current_subscription__upgrade">
            Purchase
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="upgradeActive" class="subscription__partition">
      <span class="subscription__partition_text">BUY PLAN</span>
    </div>
  </div>
</div>

<app-custom-notification
  [show]="purchaseSuccess"
  type="success"
  [callback]="'/' + role + '/plan'"
  text="Purchased the Plan Successfully"
>
</app-custom-notification>
