<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Subscriptions</h3>
  <div class="sub-module-container__container">
    <div *ngIf="!upgradeActive" class="current_subscription__container">
      <div class="current_subscription__header">Your Subscriptions</div>
      <div class="current_subscription__type">{{ subscription?.type }}</div>
      <div class="current_subscription__name">
        {{ subscription?.type == 'EXPRESS' ? subscription?.expressType : subscription?.premiumType }}
      </div>
      <div *ngIf="subscription?.type == 'EXPRESS' && !this.subscription?.expired" class="current_subscription__value">
        Remaining Points: {{ subscription?.points }}
      </div>
      <div *ngIf="subscription?.type == 'PREMIUM' && !this.subscription?.expired" class="current_subscription__value">
        Expires: {{ subscription?.expirationDate | date }}
      </div>
      <div *ngIf="this.subscription?.expired" class="current_subscription__value">
        Subscription Expired
      </div>
      <div (click)="onUpgradeClick($event)" class="th-btn th-btn--primary current_subscription__upgrade">Upgrade</div>
    </div>
    <h4 class="subscription__msg" *ngIf="msg && upgradeActive">{{ msg }}</h4>

    <div *ngIf="upgradeActive" class="subscription__type_options">
      <div (click)="premiumClicked($event)" class="subscription__type"
        [class.subscription__type--active]="premiumActive">
        Premium
      </div>
      <div (click)="expressClicked($event)" class="subscription__type"
        [class.subscription__type--active]="expressActive">
        Express
      </div>

    </div>
    <div style="width: 100%" *ngIf="upgradeActive">
      <div *ngIf="expressActive" class="subscription__container">
        <div *ngFor="let planType of expressTypes" class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type">{{ planType.type }}</div>
          <div class="current_subscription__name">{{ planType.name }}</div>
          <div class="current_subscription__price">
            {{ planType.amount }} <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">{{ planType.valueInPoints }} points</div>
          <div (click)="purchasePlan(planType.type, planType.name)"
            class="th-btn th-btn--primary current_subscription__upgrade">
            Purchase
          </div>
        </div>
      </div>
      <div *ngIf="premiumActive" class="subscription__container">
        <div *ngFor="let planType of premiumTypes" class="current_subscription__container">
          <div class="current_subscription__header">Plan Type</div>
          <div class="current_subscription__type current_subscription__type--premium">{{ planType.type }}</div>
          <div class="current_subscription__name">{{ planType.name }}</div>
          <div class="current_subscription__price">
            {{ planType.amount }} <span class="current_subscription__currency-type">&#8369;</span>
          </div>
          <div class="current_subscription__value">Unlimited CV Download for {{ planType.valueInDays }} days</div>
          <div (click)="purchasePlan(planType.type, planType.name)"
            class="th-btn th-btn--primary current_subscription__upgrade">
            Purchase
          </div>
        </div>
      </div>
      <div (click)="CancelUpgrade($event)" class="subscription__cancel "
        [class.subscription__type--active]="expressActive">
        Cancel
      </div>
    </div>
    <div *ngIf="upgradeActive" class="subscription__partition">
      <span class="subscription__partition_text">BUY PLAN</span>
    </div>

    <div *ngIf="subscriptions && subscriptions.length > 0" class="table_container">
      <h3 class="table_container__heading">Transactions</h3>
      <table *ngIf="subscriptions" style="min-width: 40rem;" mat-table [dataSource]="subscriptions"
        class="mat-elevation-z1">
        <!-- Symbol Column -->
        <ng-container matColumnDef="transcactionDate">
          <th mat-header-cell *matHeaderCellDef>Date </th>
          <td mat-cell style="max-width: 35rem;" *matCellDef="let element">
            {{ element.transactionDate | date: 'longDate' }}
          </td>
        </ng-container>
        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="transactionFrom">
          <th mat-header-cell *matHeaderCellDef>Transaction From</th>
          <td mat-cell *matCellDef="let element">{{ element.transactionFrom ? element.transactionFrom : "DEPOSIT" }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="transactionTo">
          <th class="th_hide" mat-header-cell *matHeaderCellDef>Transaction To</th>
          <td class="th_hide" mat-cell *matCellDef="let element">{{ element.transactionTo ? element.transactionTo : "DEPOSIT" }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a (click)="subscriptionDetail(element.id)" class="btn-outline">View</a> -->
            {{ element.type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">
            <!-- <a (click)="subscriptionDetail(element.id)" class="btn-outline">View</a> -->
            {{ element.type == 'DEPOSIT' ? element.credit: element.debit }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="th_hide" mat-header-cell *matHeaderCellDef>Transaction Made By</th>
          <td class="th_hide" mat-cell *matCellDef="let element">
            <!-- <a (click)="subscriptionDetail(element.id)" class="btn-outline">View</a> -->
            {{ element.name }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="paginator">
        <mat-paginator [length]="pager?.totalItems" [pageSize]="pager?.pageSize" [pageSizeOptions]="[5, 8, 10, 25, 100]"
          (page)="getServerData($event)">
        </mat-paginator>
      </div>
    </div>


  </div>
</div>



<app-custom-notification [show]="purchaseSuccess" type="success" [callback]="'/' + role + '/plan'"
  text="Purchased the Plan Successfully">
</app-custom-notification>