.container {
  margin: 10rem 0;
  position: relative;
}
.form-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 3rem;

  &__header {
    text-align: center;

    .icon {
      font-size: 4rem;
      color: #888;
      margin-bottom: 2rem;
    }

    .text {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #555;
    }
  }

  &__body {
    .form {
      &__group {
        margin-bottom: 1rem;
        display: inline-flex;
        width: 100%;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 3px;
      }

      .disabled {
        background: white;
        color: grey;
        border: 2px solid grey;
        cursor: progress;
      }

      &__icon {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
        align-self: center;
      }

      &__input {
        border: 0;
        padding: 0.8rem 0;
        flex: 1;
        font-size: 2rem;
      }

      &__label {
        font-size: 1.2rem;
        margin-left: 1.1rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
      }

      &__input:placeholder-shown + label {
        opacity: 0;
        transform: translateY(-2rem);
      }

      &__submit {
        width: 100%;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 1rem;
      }

      &__error {
        padding: 0.5rem;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
      }

      &__success {
        padding: 0.5rem;
        background-color: rgba(0, 150, 0, 0.8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .invalid-feedback {
    &__message {
      font-size: 1.3rem;
      color: rgb(255, 0, 0);
      font-style: italic;
    }
  }
}
@media (min-width: 430px) {
  .form-container {
    width: 75%;
    max-width: 550px;
    border: 1px solid rgba(black, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }
}