<div class="container">
    <div class="form-container">
        <div class="form-container__header">
            <fa-icon class="icon" [icon]="faLock"></fa-icon>
            <h3 class="text">Forgot Password?</h3>
        </div>
        <div class="form-container__body">
            <form action="#" class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div *ngIf="error" class="form__error">{{ error | uppercase }}</div>
                <div *ngIf="success" class="form__success">{{ success }}</div>

                <div class="form__group">
                    <fa-icon style="color: #425A7B;" class="form__icon" [icon]="faEnvelope"></fa-icon>
                    <input [class.form__input--error]="submitted && f.email.errors"
                        formControlName="email" name="email" type="text" class="form__input" 
                        placeholder="Email">
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div class="invalid-feedback__message" *ngIf="f.email.errors.required">Email is required</div>
                    <div class="invalid-feedback__message" *ngIf="f.email.errors.email">Your input is not an email address</div>
                </div>

                <input class="form__submit th-btn th-btn--primary" [class.disabled]="loading" type="submit" value="Reset Password">
            </form>
        </div>
    </div>
</div>