<!-- <h1>Employer {{ data }}</h1> -->
<!-- <shared-custom-datepicker></shared-custom-datepicker>
<app-job-skeleton></app-job-skeleton> -->

<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Dashboard</h3>
  <div class="sub-module-container__container">
    <div class="dashboard-contents-wrapper">
      <div class="dashboard-contents">
        <app-dashboard-item
          class="dashboard-contents__content"
          iconName="faUsers"
          [dashboard]="dashboardItem1"
        ></app-dashboard-item>
        <app-dashboard-item
          class="dashboard-contents__content"
          [dashboard]="dashboardItem2"
        ></app-dashboard-item>
      </div>
      <div class="dashboard-contents">
        <app-dashboard-item
          class="dashboard-contents__content"
          [dashboard]="dashboardItem3"
        ></app-dashboard-item>
        <app-dashboard-item
          class="dashboard-contents__content"
          iconName="faUpload"
          [dashboard]="dashboardItem4"
        ></app-dashboard-item>
      </div>
    </div>
  </div>
</div>

<!-- <app-dashboard-item [dashboard]="dashboard"></app-dashboard-item> -->
