<h3 class="header">Dashboard</h3>
  <!-- <div class="dashboard-contents-wrapper">
    <div class="dashboard-contents">
      <app-dashboard-item
        class="dashboard-contents__content"
        iconName="faUsers"
        [dashboard]="dashboardItem1"
      ></app-dashboard-item>
      <app-dashboard-item
        class="dashboard-contents__content"
        [dashboard]="dashboardItem2"
      ></app-dashboard-item>
    </div>
    <div class="dashboard-contents">
      <app-dashboard-item
        class="dashboard-contents__content"
        [dashboard]="dashboardItem3"
      ></app-dashboard-item>
      <app-dashboard-item
        class="dashboard-contents__content"
        iconName="faUpload"
        [dashboard]="dashboardItem4"
      ></app-dashboard-item>
    </div>
  </div> -->
  <div class="container">
    <div class="img-container img-container--jobs">
      <!-- <img src="../../../../assets/img/home/dash-1.jpg" alt="" class="img"> -->
      <div class="stat stat--jobs" [routerLink]="['../jobs']"  >
        <div class="stat__header">Active Jobs</div>
        <span class="stat__value"> {{ dashboardItem1.value }} </span>
      </div>
    </div>
    <div class="img-container img-container--companies">
      <!-- <img src="../../../../assets/img/home/dash-2.jpg" alt="" class="img"> -->
      <div class="stat stat--companies">
        <div class="stat__header" [routerLink]="['../applications']">Applicants</div>
        <span class="stat__value">{{ dashboardItem2.value }}</span>
      </div>
    </div>
    <div class="img-container img-container--applied">
      <!-- <img src="../../../../assets/img/home/dash-3.jpg" alt="" class="img"> -->
      <div class="stat stat--applied" [routerLink]="['../filtered_candidates']">
        <div class="stat__header">Filtered Candidates</div>
        <span class="stat__value">{{ dashboardItem3.value }}</span>
      </div>
    </div>
    <div class="img-container img-container--viewed">
      <!-- <img src="../../../../assets/img/home/dash-4.jpg" alt="" class="img"> -->
      <div class="stat stat--viewed" [routerLink]="['../staff']">
        <div class="stat__header">Staff</div>
        <span class="stat__value">{{ dashboardItem4.value }}</span>
      </div>
    </div>

</div>
