.header {
  background-color: white;
  font-size: 2rem;
  text-transform: uppercase;
  color: #888;
  padding: 1rem 2rem .5rem;
}
// .container {
//   // background-image: url("../../../../assets/img/bg.jpg");
//   // background-attachment: fixed;
//   // background-repeat: no-repeat;
//   // background-size: cover;
// }
.dashboard-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.img-container {
  width: 95%;
  height: 80vh;
  min-width: 30rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 .5rem rgba(white, .5);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &--jobs {
    background-image: url("../../../../assets/img/mob/Mobile_1.jpg");
    background-size: cover;
    background-position: 50%;

    @media (min-width: 768px) {
      background-image: url("../../../../assets/img/home/dash-1.jpg");
    }
  }

  &--companies {
    background-image: url("../../../../assets/img/mob/Mobile_2.jpg");
    background-size: cover;
    background-position: 50%;

    @media (min-width: 768px) {
      background-image: url("../../../../assets/img/home/dash-2.jpg");
    }
  }

  &--applied {
    background-image: url("../../../../assets/img/mob/Mobile_3.jpg");
    background-size: cover;
    background-position: 50%;

    @media (min-width: 768px) {
      background-image: url("../../../../assets/img/home/dash-3.jpg");
    }
  }

  &--viewed {
    background-image: url("../../../../assets/img/mob/Mobile_4.jpg");
    background-size: cover;
    background-position: 50%;

    @media (min-width: 768px) {
      background-image: url("../../../../assets/img/home/dash-4.jpg");
    }
  }
}

.img {
  width: 100%;
}

.stat {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__header {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 1px rgba(black, .5);
    display: none;
    text-transform: uppercase;
    
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__value {
    font-size: 6rem;
    font-weight: 900;
    color: #eee;
    text-shadow: 0 1px rgba(black, .2);
  }

  &--jobs {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      top: 15%;
      left: 50%;
      transform: translateX(0);

      .stat {
        &__header {
          font-size: 5rem;
        }
        &__value {
          font-size: 4rem;
        }
      }
    }
  }
  &--companies {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      top: 25%;
      left: 25%;
      transform: translateX(0);

      .stat {
        &__header {
          font-size: 5rem;
        }
        &__value {
          font-size: 4rem;
        }
      }
    }
  }
  &--applied {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      top: 25%;
      left: 35%;
      transform: translateX(0);

      .stat {
        &__header {
          font-size: 5rem;
        }
        &__value {
          font-size: 4rem;
        }
      }
    }
  }
  &--viewed {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
      top: 25%;
      left: 35%;
      transform: translateX(0);
      .stat {
        &__header {
          font-size: 5rem;
        }
        &__value {
          font-size: 4rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .dashboard-contents {
    &-wrapper {
      flex-direction: row;
      // align-items: center;
      // justify-content: center;
    }
    &__content {
      align-self: center;
    }
  }
}

@media only screen and (min-width: 900px) {
  .dashboard-contents {
    flex-direction: row;
  }
}
