<div class="sub-module-container">
    <h3 class="sub-module-container__heading">Reported Issues</h3>
    <div class="sub-module-container__container dash">
        <!-- <app-issues-list></app-issues-list> -->
        <a routerLink="applicant" class="board">
            <h2 class="board__title">Applicant Issues</h2>
            <div class="board__body">

            </div>
        </a>
        <a routerLink="employer" class="board">
            <h2 class="board__title">Employer Issues</h2>
            <div class="board__body">

            </div>
        </a>
        <a routerLink="report" class="board">
                <h2 class="board__title">Reported Job</h2>
                <div class="board__body">
    
                </div>
            </a>
    </div>
</div>

