<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Edit Plan Type</h3>
  <div class="sub-module-container__container">
    <div class="form-container">
      <div class="form-container__header">
        <h3 class="header-text">Edit Payment Plan Type</h3>
      </div>
      <div class="form-container__body">
        <form action="#" [formGroup]="planTypeForm" method="POST" class="form" (ngSubmit)="onSubmit()">
          <div class="form__group form__radio-group">
            <div class="radio">
              <input
                (change)="radioChange('PREMIUM')"
                id="radio-1"
                name="radio"
                type="radio"
                [checked]="planTypeForm.controls['type'].value == 'PREMIUM'"
              />
              <label for="radio-1" class="radio-label">PREMIUM</label>
            </div>

            <div class="radio">
              <input
                (change)="radioChange('EXPRESS')"
                id="radio-2"
                name="radio"
                type="radio"
                [checked]="planTypeForm.controls['type'].value == 'EXPRESS'"
              />
              <label for="radio-2" class="radio-label">EXPRESS</label>
            </div>
            <div class="radio">
              <input
                (change)="radioChange('FREE')"
                id="radio-3"
                name="radio"
                type="radio"
                [checked]="planTypeForm.controls['type'].value == 'FREE'"
              />
              <label for="radio-3" class="radio-label">FREE</label>
            </div>
          </div>
          <div class="form__group">
            <shared-custom-input-field
              [defaultValue]="this.planType.name"
              placeholder="Plan Name"
              label="Plan Name"
              [input]="planTypeForm.controls['name']"
              [submitted]="submitted"
              type="text"
              name="name"
              [formGroup]="planTypeForm"
              [limit]="defaultLimit"
            >
            </shared-custom-input-field>
          </div>

          <div class="form__group">
            <shared-custom-input-field
              [defaultValue]="this.value"
              [placeholder]="planTypeForm.controls['type'].value == 'EXPRESS' ? 'Value in points' : 'Value in days'"
              [label]="planTypeForm.controls['type'].value == 'EXPRESS' ? 'Value in points' : 'Value in days'"
              [input]="planTypeForm.controls['value']"
              [submitted]="submitted"
              type="number"
              name="value"
              [formGroup]="planTypeForm"
              [limit]="defaultLimit"
            >
            </shared-custom-input-field>
          </div>
          <div class="form__group">
            <shared-custom-input-field
              *ngIf="planTypeForm.controls['type'].value != 'FREE'"
              [defaultValue]="this.planType.amount"
              placeholder="Price"
              label="Price"
              [input]="planTypeForm.controls['amount']"
              [submitted]="submitted"
              type="number"
              name="amount"
              [formGroup]="planTypeForm"
              [limit]="defaultLimit"
              disabled
            >
            </shared-custom-input-field>
            <div class="form__group">
              <input
                [class.disabled]="planTypeForm.invalid || loading"
                type="submit"
                value="Submit"
                class="form__submit th-btn th-btn--primary"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="notification notification--success" [class.active]="planAdded">
  <div class="notification__body">
    <i style="color: #E1A223; margin-right: 10px; font-size: 2rem; display: inline" class="far fa-check-circle"></i>
    <!-- <fa-icon style="color: #E1A223; margin-right: 10px; font-size: 2rem; display: inline" [icon]="faCheckCircle"></fa-icon> -->

    <span class="text">Successfully edited plan type</span>
  </div>
</div>
