<div class="sub-module-container">
    <h3 class="sub-module-container__heading">Exempted Companies</h3>
    <div class="sub-module-container__container">
      <table
        *ngIf="companies.length > 0"
        mat-table
        [dataSource]="companies"
        class="mat-elevation-z1"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="companyLogo">
          <th mat-header-cell *matHeaderCellDef>Company Logo</th>
          <td mat-cell *matCellDef="let company">
            <img
              style="margin: 0.5rem 0; height: 5rem;"
              [src]="company.companyLogo"
              alt=""
              class="logo"
            />
          </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>Company Name</th>
          <td mat-cell *matCellDef="let company">{{ company.companyName }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Exempted Date</th>
            <td mat-cell *matCellDef="let company">{{ company.updatedAt |  date: 'longDate' }}</td>
          </ng-container>
  
        <!-- Phone Number Column -->
  
        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td
            class="company-list__actions-container"
            mat-cell
            *matCellDef="let company"
          >
            <button (click)="openModal(company.id)" class="company-list__action">
              revoke
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [length]="pager?.totalItems" [pageSize]="pager?.pageSize" [pageSizeOptions]="[5, 8, 10, 25, 100]"
      [pageIndex]="pager?.currentPage - 1" (page)="getServerData($event)">
    </mat-paginator>
  
      <h3 *ngIf="companies && companies.length == 0">
        <div class="not_Found">
          <span>No Exempt companies yet.</span>
        </div>
      </h3>
    </div>

    <div class="add_employer_floating">
        <button [routerLink]="url" class="add_employer_floating__button">
          <span class="add_employer_floating__element">&#x2b;</span>
        </button>
      </div>
      
      <app-shared-confirm-model
        headerText="Delete Company From Exempt"
        bodyText="Are you sure you want to delete this company?"
        [isModalOpen]="openConfirmModal"
        [data]="data"
        (confirmed)="remove($event)"
        (cancled)="closeModal()"
      >
      </app-shared-confirm-model>
      
  </div>
  
