<div class="job">
  <div class="job__left">
    <div class="job__left--top">
      <div class="job__company-image"></div>
      <div class="job__left--top__container">
        <h3 class="job__title"></h3>
        <div>
          <span class="job__company-name"></span>
          <span class="job__company-verified"></span>
        </div>
        <div>
          <span class="job__location"></span>
        </div>
      </div>
    </div>
    <div class="job__left--middle">
      <p class="job__description"></p>
      <span class="job__salary-range"></span>
    </div>
    <div class="job__left--bottom">
      <div>
        <span class="job__tag"></span>
      </div>
      <div class="job__tag-elements">
        <div class="job__tag-element"></div>
        <div class="job__tag-element"></div>
      </div>
    </div>
  </div>
  <div class="job__right">
    <button class="th-btn th-btn--primary job__apply-button"></button>
    <div class="job__general-info">
      <div class="job__info job__info-applicants"></div>
      <div class="job__info job__info-vacancies"></div>
      <div class="job__info job__info-pwd"></div>
    </div>
  </div>
</div>
