.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(black, 0.2);
  border-radius: 3px;
  padding: 5rem 2rem 2rem;
  position: relative;

  &__group {
    display: flex;
    flex-direction: column;

    &--imageContainer {
      position: relative;
      align-self: center;
      margin: 0 0 2rem;
      box-shadow: 0 0 1rem rgba(black, 0.3);
      overflow: hidden;
      border-radius: 50%;

      .image {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .menu {
        position: absolute;
        // to make the menu non-clickable
        bottom: 0;
        box-shadow: 0 -0.5rem 1rem rgba(black, 0.2);
        width: 100%;
        transition: all 0.3s;
        background-color: rgba(white, 0.8);
        text-align: center;
        cursor: pointer;

        &__item {
          display: inline-block;
          font-size: 2rem;
          font-weight: 600;
          padding: 0.5rem 1rem;
          text-align: center;
          border-radius: 50%;

          &--change {
            color: #333;
          }

          &--delete {
            color: red;
          }

          &:not(:last-child) {
            border-right: 1px solid #bbb;
          }

          &:active {
            background-color: #ddd;
          }
        }
          
        .picture-input {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 90;
          padding: 0;
          margin: 0;
          opacity: 0;
          font-size: 20rem;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &--button {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .cancel {
      border-radius: 5px;
    }

    .disabled {
      background: white;
      color: grey;
      border: 2px solid grey;
      pointer-events: none;
    }

    .form__submit {
      border-radius: 5px;
    }
  }

  .checkbox {
    &__input {
      display: none;
    }

    &__label {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      cursor: pointer;
    }

    &__button {
      position: relative;
      width: 2.3rem;
      height: 2.3rem;
      border: 2px solid #aa111d;
      border-radius: 3px;
      margin: 0 1rem;
      // transition: all .2s;
      &::before {
        content: "";
        font-family: "Font Awesome 5 Free";
        font-size: 2.6rem;
        display: inline-block;
        color: #ce2127;
        position: absolute;
        top: -0.6rem;
        left: -0.1rem;
        transform: translateY(3px);
        transition: transform 0.2s;
      }
    }

    &__text {
      font-size: 1.8rem;
      color: #333;
      font-weight: 400;
    }
  }

  .checkbox__input:checked ~ .checkbox__label .checkbox__button {
    background: #eee;

    &::before {
      content: "\2714";
      transform: translateY(0);
    }
  }

  &__input-location {
    width: 100%;
  }
}

.map-container {
  height: 35rem;
  border: 1px solid rgba(black, 0.3);
  border-top: none;
}

@media only screen and (min-width: 850px) {
  .container {
    flex-direction: row;
  }

  .form {
    flex: 1;
  }

  .map-container {
    flex: 1;
    height: auto;
    border: 1px solid rgba(black, 0.3);
    border-left: none;
    border-radius: 3px;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .form {
    &__group {
      flex-direction: row;

      &--imageContainer {
        position: relative;
        align-self: center;
        margin: 0 0 2rem;
        box-shadow: 0 0 1rem rgba(black, 0.3);
        overflow: hidden;
        border-radius: 50%;

        .image {
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .menu {
          position: absolute;
          // to make the menu non-clickable
          bottom: 0;
          transform: translateY(100%);
          box-shadow: 0 -0.5rem 1rem rgba(black, 0.2);
          opacity: 0;
          width: 100%;
          transition: all 0.3s;
          background-color: rgba(white, 0.9);
          text-align: center;
          backface-visibility: hidden;
        }

        &:hover .menu {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .checkbox {
        margin: 0 auto;
      }
    }
  }
}
