<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Staff</h3>
  <div class="sub-module-container__container">
    <div class="staffs">
      <form action="#" class="form" [formGroup]="addStaffer" (ngSubmit)="onSubmit()">
        <div class="sub-container">
          <h3 class="form__header">Add A New Staffer</h3>
        </div>
        <div class="sub-container" style="justify-content: center; margin-top: 2rem;">
          <shared-custom-select
            [valid]="addStaffer.controls['role']?.status"
            (onValueChange)="selectChanged($event, 'role')"
            name="role"
            [defaultValue]=""
            label="Admin Role"
            [styleObject]="styleObject"
            class="input-element-type-1"
            placeholder="Select Admin Role"
            [options]="roles"
            [submitted]="submitted"
            [disabled]="false"
          ></shared-custom-select>
        </div>
        <div class="sub-container">
          <shared-custom-input-field
            class="input-element-type-2"
            [formGroup]="addStaffer"
            name="email"
            defaultValue=""
            placeholder="Enter Email"
            label="Email"
            [input]="(addStaffer?.controls)['email']"
            type="text"
            [submitted]="submitted"
            [disabled]="false"
            [limit]="defaultLimit"
          ></shared-custom-input-field>
        </div>
        <div class="sub-container">
          <shared-custom-input-field
            class="input-element-type-1"
            [formGroup]="addStaffer"
            name="firstName"
            defaultValue=""
            placeholder="First Name"
            label="First Name"
            [input]="(addStaffer?.controls)['firstName']"
            type="text"
            [submitted]="submitted"
            [disabled]="false"
            [limit]="defaultLimit"
          ></shared-custom-input-field>
          <shared-custom-input-field
            class="input-element-type-1"
            [formGroup]="addStaffer"
            name="lastName"
            defaultValue=""
            placeholder="Last Name"
            label="Last Name"
            [input]="(addStaffer?.controls)['lastName']"
            type="text"
            [submitted]="submitted"
            [disabled]="false"
            [limit]="defaultLimit"
          ></shared-custom-input-field>
        </div>
        <div class="sub-container">
          <shared-custom-input-field
            class="input-element-type-2"
            [formGroup]="addStaffer"
            name="phoneNumber"
            defaultValue=""
            placeholder="Phone Number"
            label="Phone Number"
            [input]="(addStaffer?.controls)['phoneNumber']"
            type="tel"
            [submitted]="submitted"
            [disabled]="false"
            [limit]="numberRange"
          ></shared-custom-input-field>
        </div>
        <div class="sub-container sub-container--btn">
          <!-- <button type="submit" class="th-btn th-btn--primary form__submit-btn">
            Add Staffer
          </button> -->
          <app-custom-submit-button [styleObject]="{btn:{width:'100%'}}" [loading]="loading" text="Add Staffer"></app-custom-submit-button>
        </div>
      </form>
      <app-custom-notification [show]="stafferAdded || stafferError" [type]="stafferAdded ? 'success' : 'error'"
        [text]="stafferAdded ? 'Admin staffer added successfully' : errorMessage"
        [callback]="stafferAdded ? 'goBack' : ''"></app-custom-notification>
    </div>
  </div>
</div>
