<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Report</h3>
  <div class="sub-module-container__container report">
    <form
      action="#"
      method="POST"
      class="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="reportForm"
    >
      <div class="form__group">
        <shared-custom-select
          [valid]="reportForm.controls['reportType']"
          [formGroup]="reportForm"
          defalutValue=""
          label="Report Type"
          (onValueChange)="customValueChanged($event, 'reportType')"
          name="reportType"
          class="input-element-type-3"
          placeholder="--Select Report Category--"
          [options]="options"
          [submitted]="submitted"
          [styleObject]="styleObject"
        >
        </shared-custom-select>
      </div>

      <div class="form__group">
        <shared-textarea-field
          [disabled]="false"
          defaultValue=""
          class="input-element-type-1"
          [formGroup]="reportForm"
          name="comment"
          placeholder="Comment"
          label="Comment"
          [input]="reportForm.controls['comment']"
          type="textarea"
          [submitted]="submitted"

        >
        </shared-textarea-field>
      </div>

      <div class="form__group form__group--double">
        <input (click)="onCancel()" type="button"  value="Cancel"
          class="form__submit--inactive th-btn th-btn--primary"
        />
        <app-custom-submit-button [loading]="loading" text="Submit"></app-custom-submit-button>
      </div>
    </form>

    <app-custom-notification [show]="jobReported" type="success" 
      text="Job Reported Successfully" callback="goBack">
  </app-custom-notification>
  </div>
</div>
