<div class="notification notification--added" [class.active]="jobAdded">
  <div class="notification__body">
    <i
      style="color: #E1A223; margin-right: 10px; font-size: 2rem; display: inline"
      class="far fa-check-circle"
    ></i>
    <!-- <fa-icon style="color: #E1A223; margin-right: 10px; font-size: 2rem; display: inline" [icon]="faCheckCircle"></fa-icon> -->

    <span class="text">You have successfully Sent Report</span>
  </div>
</div>

<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Report</h3>
  <div class="sub-module-container__container report">
    <form
      action="#"
      method="POST"
      class="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="reportForm"
    >
      <div class="form__group">
        <shared-custom-select
          [valid]="reportForm.controls['reportType']"
          [formGroup]="reportForm"
          defalutValue=""
          label="Report Type"
          (onValueChange)="customValueChanged($event, 'reportType')"
          [styleObject]="selectStyle"
          name="reportType"
          class="input-element-type-3"
          placeholder="--Select Report Category--"
          [options]="options"
          [submitted]="submitted"
        >
        </shared-custom-select>
      </div>

      <div class="form__group">
        <shared-textarea-field
          [disabled]="false"
          defaultValue=""
          class="input-element-type-2"
          [formGroup]="reportForm"
          name="comment"
          placeholder="Comment"
          label="Comment"
          [input]="reportForm.controls['comment']"
          type="textarea"
          [submitted]="submitted"
        >
        </shared-textarea-field>
      </div>

      <div class="form__group form__group--double">
        <input
          (click)="onCancel()"
          type="button"
          [class.progress]="loading"
          value="Cancel"
          class="form__submit--inactive th-btn th-btn-large th-btn--primary"
        />
        <input
          type="submit"
          [class.progress]="loading"
          value="Submit"
          class="form__submit th-btn th-btn-large th-btn--primary"
        />
      </div>
    </form>
  </div>
</div>
