table {
  width: 100%;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.date-range-input {
  display: inline-block;
  min-width: 20rem;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #888;
  font-size: 1.5rem;
}
.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color:#777;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}
