<div class="sub-module-container">
    <h3 class="sub-module-container__heading">subscriptions</h3>
    <div class="sub-module-container__container">
      <div *ngIf="subscription.length === 0" class="noIssue">
        <h2 class="noIssue__text">No subscription yet.</h2>
        <!-- <h4 class="noLocation__text--secondary"></h4> -->
      </div>
      <table
        *ngIf="subscription && subscription.length > 0"
        style="min-width: 95rem;"
        mat-table
        [dataSource]="subscription"
        class="mat-elevation-z4"
      >
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>Company Name</th>
          <td mat-cell *matCellDef="let element">{{ element.application_user.company.companyName }}</td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="transactionFrom">
          <th mat-header-cell *matHeaderCellDef>Transaction From</th>
          <td mat-cell *matCellDef="let element">{{ element.transactionFrom }}</td>
        </ng-container>

        <ng-container matColumnDef="transactionTo">
            <th mat-header-cell *matHeaderCellDef>Transaction Trom</th>
            <td mat-cell *matCellDef="let element">{{ element.transactionTo }}</td>
          </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Purchased By.</th>
          <td mat-cell style="max-width: 35rem;" *matCellDef="let element">
            {{
                element.application_user.user.firstName +
                " " +
                element.application_user.user.lastName
            }}
          </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell style="max-width: 35rem;" *matCellDef="let element">
            {{ element.applicant_profile.user.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Detials</th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['detail', element.id]" class="btn-outline">View</a>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  