@import "../../assets/scss/abstracts/variables";

.content-container {
  margin-top: 6.5rem; // the height of the fixed header
}

.progress {
  position: fixed;
  top: 6.5rem;
  z-index: 5000;
  height: 3px;
}

div.sideBarActive {
  box-shadow: 2px 0 10px rgba(black, 0.2);
  z-index: 1100;

  .sidebar {
    &__header {
      font-size: 2rem;
    }
    &__list {
      padding-top: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(#333, 0.2);
      }
    }
    &__list-item {
      padding: 1rem 2rem;

      .icons {
        padding-right: 1rem;
        margin-right: 10px;
      }
      .names {
        font-size: inherit;
      }
    }
  }
}

.sidebar {
  position: fixed;
  padding-top: 1rem; //to prevent Icon overlap
  border-right: 1px solid rgba(#333, 0.2);
  height: 100%;
  transition: all 0.3s;
  background-color: white;

  &__header {
    font-weight: 700;
    font-size: 0;
    padding: 1rem 2rem;
    transition: all 0.2s;
    line-height: 2rem;
  }

  &__list {
    list-style-type: none;
    border-top: 1px solid rgba(#333, 0.2);
    &:not(:last-child) {
      border-bottom: 1px solid rgba(#333, 0.2);
    }
  }
  &__list-item {
    display: block;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: all 0.2s;

    .icons {
      width: 2.5rem;
      // padding-right: 1rem;
      // margin-right: 10px;
      text-align: center;
      color: $color-primary;
    }

    .names {
      color: inherit;
      transition: all 0.2s;
      font-size: 0;
    }

    &:hover {
      border-left: 2px solid $color-secondary;
      border-right: 2px solid $color-secondary;
      border-radius: 3px;
      background-color: #ddd;
      cursor: pointer;
    }
  }
  .active {
    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    border-radius: 3px;
    background-color: #ddd;
    color: black;
    .icons {
      color: $color-primary;
    }
  }
}

.content {
  padding: 2rem;
  margin-left: 4rem;
  transition: all 0.3s;
}

@media only screen and (min-width: 700px) {
  .sidebar {
    transform: translateX(0%);

    &__list {
      padding-top: 1rem;
    }
  }

  .content {
    margin-left: 4rem;
    min-height: 300px;
  }
}
