.header {
  background-color: white;
  font-size: 2rem;
  text-transform: uppercase;
  color: #888;
  padding: 1rem 2rem .5rem;
}
.container {
  // background-image: url("../../../../assets/img/bg.jpg");
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: cover;
}
.dashboard-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.img-container {
  width: 95%;
  min-width: 30rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 .5rem rgba(white, .5);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.img {
  width: 100%;
}

.stat {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 1px rgba(black, .5);
  }

  &__value {
    font-size: 2rem;
    font-weight: 600;
    color: #eee;
  }

  &--jobs {
    top: 15%;
    left: 45%;
    @media (min-width: 600px) {
      left: 50%;
      .stat {
        &__header {
          font-size: 4rem;
        }
        &__value {
          font-size: 3.5rem;
        }
      }
    }
  }
  &--companies {
    top: 25%;
    left: 12%;
    @media (min-width: 600px) {
      left: 22%;
      .stat {
        &__header {
          font-size: 4rem;
        }
        &__value {
          font-size: 3.5rem;
        }
      }
    }
  }
  &--applied {
    top: 25%;
    left: 45%;
    @media (min-width: 600px) {
      left: 50%;
      .stat {
        &__header {
          font-size: 4rem;
        }
        &__value {
          font-size: 3.5rem;
        }
      }
    }
  }
  &--viewed {
    top: 25%;
    left: 12%;
    @media (min-width: 600px) {
      left: 22%;
      .stat {
        &__header {
          font-size: 4rem;
        }
        &__value {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) {
  .dashboard-contents {
    &-wrapper {
      flex-direction: row;
      // align-items: center;
      // justify-content: center;
    }
    &__content {
      align-self: center;
    }
  }
}

@media only screen and (min-width: 900px) {
  .dashboard-contents {
    flex-direction: row;
  }
}
