<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Change Your Password</h3>

  <div class="sub-module-container__container container">
    <form
      action="#"
      method="POST"
      [formGroup]="passwordForm"
      class="form"
      autocomplete="off"
      (ngSubmit)="onSubmit()"
    >
      <div *ngIf="error" class="form__error">{{ error | uppercase }}</div>

      <div class="form__group">
        <input
          type="password"
          name="currentPassword"
          id="cPassword"
          class="form__input"
          placeholder="Current Password"
          minlength="6"
          [class.form__input--error]="submitted && f.currentPassword.errors"
          formControlName="currentPassword"
          [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"
        />
        <label class="form__label" for="cPassword">Current Password</label>
        <!-- <fa-icon (click)="togglePasswordType('current')" class="eye" [icon]="eyeIcon"></fa-icon> -->
        <div
          *ngIf="submitted && f.currentPassword.errors"
          class="invalid-feedback"
        >
          <div
            class="invalid-feedback__message"
            *ngIf="f.currentPassword.errors.required"
          >
            Current Password is required
          </div>
          <div
            class="invalid-feedback__message"
            *ngIf="f.currentPassword.errors.minlength"
          >
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form__group">
        <input
          type="password"
          name="newPassword"
          id="nPassword"
          class="form__input"
          placeholder="New Password"
          minlength="6"
          [class.form__input--error]="submitted && f.newPassword.errors"
          formControlName="newPassword"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
        />
        <label class="form__label" for="nPassword">New Password</label>
        <!-- <fa-icon (click)="togglePasswordType('new')" class="eye" [icon]="eyeIcon"></fa-icon> -->
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div
            class="invalid-feedback__message"
            *ngIf="f.newPassword.errors.required"
          >
            New Password is required
          </div>
          <div
            class="invalid-feedback__message"
            *ngIf="f.newPassword.errors.minlength"
          >
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form__group">
        <input
          type="password"
          name="password"
          id="conPassword"
          class="form__input"
          placeholder="Confirm Password"
          minlength="6"
          [class.form__input--error]="submitted && f.confirmPassword.errors"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
        />
        <label class="form__label" for="conPassword">Confirm Password</label>
        <!-- <fa-icon (click)="togglePasswordType('confirm')" class="eye" [icon]="eyeIcon"></fa-icon> -->
        <div
          *ngIf="submitted && f.confirmPassword.errors"
          class="invalid-feedback"
        >
          <div
            class="invalid-feedback__message"
            *ngIf="f.confirmPassword.errors.required"
          >
            Confirm Password is required
          </div>
          <div
            class="invalid-feedback__message"
            *ngIf="f.confirmPassword.errors.minlength"
          >
            Password must be at least 6 characters
          </div>
          <div
            class="invalid-feedback__message"
            *ngIf="f.confirmPassword.errors.mustMatch"
          >
            Confirm Password must be the same
          </div>
        </div>
      </div>
      <!-- <input type="submit" class="form__submit th-btn th-btn--primary" /> -->
      <app-custom-submit-button [loading]="loading" [styleObject]="styleObject" text="Change Password"></app-custom-submit-button>
      <app-custom-notification [show]="success" type="success" text="Password Updated Successfully"></app-custom-notification>
    </form>
  </div>
</div>
