.container {
    padding: 3rem;
    position: relative;
    width: 35%;
}

.eye {
    color: #333;
    font-size: 1.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(-15%, -15%);
        transition: all .2s;
    }

    &:active{

        &::after {
            background-color: #ccc;
        }
    } 
}

.form {
    min-width: 30rem;
    &__group {
        margin-bottom: 2rem;
        position: relative;

        &--last {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .disabled {
            background: white;
            color: grey;
            border: 2px solid grey;
            cursor: progress;
        }
    }

    &__input {
        width: 100%;
        font-size: 1.8rem;
        padding: .8rem 1rem;
        border: 1px solid rgba(0,0,0, .5);
        border-radius: 3px;
        transition: all .2s;

        &:focus {
            outline: none;
            // box-shadow: 0 0 .5rem rgba(#1497ff, .5);
            // border-bottom: 2px solid orange;
            border: 1px solid #1497ff;

        }

        &--password {
            padding-right: 3.5rem;
        }
        // &:focus:invalid {
        //     border-bottom: 2px solid orangered;
        // }

        // &:not(:placeholder-shown):focus:valid {
        //     border-bottom: 2px solid orange;
        // }

        &--error {
            border: 1px solid rgba(255,0,0, .5);
        }
    }

    &__label {
        font-size: 1.2rem;
        // font-weight: 700;
        margin-left: 1.1rem;
        margin-top: .7rem;
        display: block;
        transform: translateY(-7rem);
        transition: all .3s;
    }
    
    &__input:placeholder-shown + label {
        opacity: 0;
        // visibility: hidden;
        transform: translateY(-2rem);
        // color: red;
    }

    &__submit {
        width: 100%;
        color: white;
        font-size: 2rem;
        font-weight: 400;
        border-radius: 5px;
        margin-top: 1rem;
    }

    &__error {
        padding: .5rem;
        background-color: rgba(255,0,0, .8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        font-weight: 600;
        text-align: center;
    }

    &__success {
        padding: .5rem;
        background-color: rgba(0,150,0, .8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
    }
    
    .invalid-feedback {
        margin-top: -1.5rem;

        &__message{
            font-size: 1.3rem;
            color: rgb(255,0,0);
            font-style: italic;
        }
    }
}