<!-- <mat-accordion style="overflow: scroll;">
    <mat-expansion-panel class="expansion" *ngFor="let job of jobs" (opened)="updateExpansionState(job.jobId)">
        <mat-expansion-panel-header>
            <mat-panel-title class="expansion__title">
                {{ job.jobTitle }}
            </mat-panel-title>
            <mat-panel-description class="expansion__description">
                <div class="expansion__position">{{job.position}}</div>
                <div class="expansion__application-count"><fa-icon style="margin-right: 1rem" [icon]="faUsers"></fa-icon>{{job.applicationsCount == 0 ? "No Applicants Yet" : job.applicationsCount == 1 ? "1 Applicant" : job.applicationsCount + " Applicants"}}</div>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <h3>Hello</h3>
    </mat-expansion-panel>
</mat-accordion> -->

<div class="overlay" [class.active]="!filterHidden"></div>

<div class="filter">
  <h3 class="filter__heading">Candidates</h3>
  <div (click)="toggleFilter($event)" class="filter__header">
    <fa-icon class="filter__icon" [icon]="faSlidersH"></fa-icon>Filter
  </div>
  <div class="filter__content" [class.filter__hide]="filterHidden">
    <form action="#" (ngSubmit)="filterJobsApplications()" class="form" [formGroup]="searchForm" autocomplete="off">
      <div class="sub-container">
        <shared-custom-input-field
          class="input-element-type-2"
          [formGroup]="searchForm"
          name="jobTitle"
          defaultValue=""
          label="Jobs"
          placeholder="Enter Search Jobs"
          [input]="searchForm.controls['jobTitle']"
          type="text"
          [submitted]="false"
          [disabled]="false"
          [limit]="defaultLimit"
        >
        </shared-custom-input-field>
      </div>
      <div class="sub-container">
        <shared-custom-input-field
          class="input-element-type-2"
          [formGroup]="searchForm"
          name="industry"
          defaultValue=""
          label="Industry Type"
          placeholder="Search by Industry"
          [input]="searchForm.controls['industry']"
          type="text"
          [submitted]="false"
          [disabled]="false"
          [limit]="defaultLimit"
        >
        </shared-custom-input-field>
      </div>
      <div class="sub-container">
        <shared-custom-input-field
          class="input-element-type-2"
          [formGroup]="searchForm"
          name="position"
          defaultValue=""
          label="Position"
          placeholder="Search by Position"
          [input]="searchForm.controls['position']"
          type="text"
          [submitted]="false"
          [disabled]="false"
          [limit]="defaultLimit"
        >
        </shared-custom-input-field>
      </div>

      <div class="form__group--btn">
        <div class="checkbox">
          <input type="checkbox" formControlName="active" name="suspended" id="pwd-checkbox" class="checkbox__input" />
          <label for="pwd-checkbox" class="checkbox__label">
            <div class="checkbox__button"></div>
            <span class="checkbox__text"
              >Deleted
              <!-- <i style="margin: .5rem .5rem 0; color: #42597B" class="fab fa-accessible-icon"></i> -->
            </span>
          </label>
        </div>
      </div>

      <div class="form__group--btn">
        <input type="submit" value="Search" class="form__submit th-btn th-btn--primary" />
      </div>
    </form>
  </div>
</div>
<h3 class="not_Found" *ngIf="empty">
  You don't have any candidate jobs.
</h3>

<div *ngIf="hasValues" class="responsive__table">
  <table style="min-width: 30rem;" mat-table [dataSource]="jobs" class="mat-elevation-z4">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="jobTitle">
      <th   class="th_limit"mat-header-cell *matHeaderCellDef>Job Title</th>
      <td  class="th_limit"  mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="noOfPositions">
      <th class="th_hide" mat-header-cell *matHeaderCellDef>No. Vacancies</th>
      <td class="th_hide" mat-cell *matCellDef="let element">{{ element.vacancies }}</td>
    </ng-container>

    <ng-container matColumnDef="postedDate">
      <th class="th_hide" mat-header-cell *matHeaderCellDef>Posted Date</th>
      <td class="th_hide" mat-cell *matCellDef="let element">{{ element.applicationStartDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th class="th_hide" mat-header-cell *matHeaderCellDef>End Date</th>
      <td class="th_hide" mat-cell *matCellDef="let element">{{ element.applicationEndDate | date }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="noOfApplicants">
      <th  class="th_limit" mat-header-cell *matHeaderCellDef>Applicants</th>
      <td  class="th_limit" mat-cell style="color: tomato" *matCellDef="let element">
        <fa-icon style="margin-right: 1rem" [icon]="faUsers"></fa-icon>
        {{
          element.applicationsCount == 0
            ? 'No Applicants Yet'
            : element.applicationsCount == 1
            ? '1 Applicant'
            : element.applicationsCount + ' Applicants'
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th  class="td_limit" mat-header-cell *matHeaderCellDef>Show Detail</th>
      <td  class="td_limit" mat-cell style="min-width: 3rem;" *matCellDef="let element">
        <button
          [disabled]="element.applicationsCount == 0"
          (click)="showCadidates(element)"
          class="job-list__action job-list__action--hover"
        >
          <span class="job-list__icon"> <fa-icon [icon]="faPenFancy"></fa-icon> </span>Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <h3 *ngIf="empty && filtered">
    <div class="not_Found">
      <span> Sorry, we didn't find any jobs matching your criteria </span>
    </div>
  </h3>

  <mat-paginator
    style="min-width: 30rem"
    [length]="pager?.totalItems"
    [pageSize]="pager?.pageSize"
    [pageSizeOptions]="[5, 8, 10, 25, 100]"
    [pageIndex]="pager?.currentPage - 1"
    (page)="getServerData($event)"
  >
  </mat-paginator>
</div>
