.container {
    margin-top: 10rem;
}

.success {
    text-align: center;

    &__header {
        font-size: 2.5rem;
        color: #888;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.5rem;
        color: #333;
        max-width: 50%;
        margin: 0 auto;
    }
}